.active{
    background-color: grey;
}

.navigation{
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    color: black;
    background: rgb(50, 5, 59);
    box-shadow: 0px 2px 15px 5px rgb(102, 99, 99);
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style-type: none;
}
/* 
ul li:hover{
      background-color: white;
} */

a{
     color: white;
     text-decoration: none;
}

/* a:hover{
    color: black;
} */

.active{
    /* background-color: white; */
    box-sizing: border-box;
    /* color: black; */
}