<div class="container bg-seconday mt-5 shadow-lg p-3 mb-5 bg-body rounded">
    <div class="text1 fs-2 fw-bold text-center">Patient Registration Window</div>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit() ">

        <div class="form-group bg-seconday mt-5 shadow-lg p-3 bg-body rounded">
            <label for="id" class="text-center">Patient Id</label>
            <input (keyup)="getNameOfPatient($event)" type="number" class="form-control" id="id"
                formControlName="patientId"
                [ngClass]="{'is-invalid':submitted && reactiveForm['controls']['patientId']['errors']}">
            <div *ngIf="submitted && reactiveForm['controls']['patientId']['errors']['required'] || (reactiveForm.get('patientId').touched && reactiveForm.get('patientId').invalid)"
                class="text-danger">
                Patient Id must not be empty
            </div>
        </div>

        <div class="form-group bg-seconday mt-4 shadow-lg p-3 bg-body rounded">
            <label for="name" class="text-center">Patient Name</label>
            <span style="color: blue;" class="ms-2" >:{{ptname}}</span>
            <input (focus)="disableButton($event)" class="form-control" id="name" formControlName="patientName"
                [ngClass]="{'is-invalid':submitted && reactiveForm['controls']['patientName']['errors']}">
            <div class="text-danger"
                *ngIf="submitted && reactiveForm['controls']['patientName']['errors']['required'] || (reactiveForm.get('patientName').invalid && reactiveForm.get('patientName').touched)">
                Name must not be empty
            </div>
        </div>
        <div class="form-group bg-seconday mt-4 shadow-lg p-3 bg-body rounded">
            <label for="dateOfVisit" class="text-center">Visited Date</label>
            <input type="date" class="form-control" id="dateOfVisit" formControlName="dateOfVisit"
                [ngClass]="{'is-invalid':submitted && reactiveForm['controls']['dateOfVisit']['errors']}">
            <div class="text-danger" `
                *ngIf="submitted && reactiveForm['controls']['dateOfVisit']['errors']['required'] || (reactiveForm.get('dateOfVisit').invalid && reactiveForm.get('patientName').touched)">
                please select a date
            </div>
        </div>

        <div class="form-group bg-seconday mt-4 shadow-lg p-3 bg-body rounded">
            <h5 class="fw-bold">Select Doctor to whom you want to show</h5>
            <select (change)="getFormData()" class="form-select mt-3" aria-label="Default select example"
                formControlName="visitedDoctor"
                [ngClass]="{'is-invalid':submitted && reactiveForm['controls']['visitedDoctor']['errors']}">
                <option selected>Select doctor</option>
                <option *ngFor="let doctor of doctors" [value]="doctor['doctId']">{{doctor["doctName"]}}
                </option>
            </select>
            <div class="text-danger"
                *ngIf="submitted && reactiveForm['controls']['visitedDoctor']['errors']['required'] || (!reactiveForm.get('visitedDoctor').valid && reactiveForm.get('visitedDoctor').touched )">
                One Doctor must be selected
            </div>
        </div>

        <div class="button">
            <button type="submit" class="btn btn-success mt-3 fs-5 mb-2">Submit</button>
        </div>
    </form>
</div>