<div class="container bg-seconday mt-5 shadow-lg p-3 mb-5 bg-body rounded">
    <div class="left-container">
        <div class="fw-bold text1">Hello.</div>
        <div class="text2 fs-1">My name is Gyan Prakash.</div>
        <div class="fs-5 mb-2">Welcome to Hospital Managment System.</div>
        <div class="fs-5">Select option from Navigation Bar to use application</div>
    </div>
    <div class="right-container">
        <img src="https://avatars.githubusercontent.com/u/35636516?v=4" alt="" srcset="">
    </div>
</div>