.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.text1{
    font-size: 50px;
}
.text2{
    font-family: sans-serif;
}